:root{
    --primarycolor: rgb(229, 9, 20);
    --secondarycolor: rgb(45, 45, 45);
}
*{
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
    
}
body{
    background-color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}
.main{
    background-image: url(assets/Netflix-Background.jpg);
    height: 700px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    
    
}
.main .box{
    height: 700px;
    width: 100%;
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0%;
}
nav{
    display: flex;
    padding: 22px;
    max-width: 76vw;
    margin: auto;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.main .logo img{
    height: 40px;
}
.main .right{
    gap: 20px;
    display: flex;
}

.main .right .SignIn{
    background-color: var(--primarycolor);
    padding: 0.25rem 1rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    border: none;
}
.lang select{
    /* padding: 0.25rem 1rem; */
    min-height: 2rem;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    font: inherit;
    border: transparent;
    color: white;
}
.lang{
    border-radius: 5px;
    border: .5px solid grey;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    height: 10px;
    font-weight: 600;
    font-size: large;
}
.main .content{
    position: relative;
    /* z-index: 15; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 620px;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
}
.main .content .firstline{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 50px;
    font-weight: 750;
}
.main .content .secondline{
    font-size: 25px;
    font-weight: 400;
}
.main .content .thirdline{
    font-size: 20px;
    font-weight: 500;
}
.main .content .getstarted{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main .content .getstarted input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid rgb(129, 129, 129);
    font-size: 18px;
    width: 18em;
}

.main .content .getstarted input::placeholder{
    color: white;
    font-size: 15px;
}
.getstarted button{
    background-color: var(--primarycolor);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.getstarted input{
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    opacity: .6;

}
.section2, .section4 {
    background-color: black;
    height: 33rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    
}
.section2 .left, .section4 .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 35vw;
}
.section2 .left .firstline, .section4 .left .firstline{
    font-size: 50px;
    font-weight: 900;
}
.section2 .left .secondline, .section4 .left .secondline{
    font-size: 25px;
    font-weight: 400;
}
.section2 .right .image img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.section2 .right video{
    top: 53em;
    position: absolute;
    right: 12em;
    /* height: 220px; */
}


.section3, .section5{
    background-color: black;
    height: 33rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section3 .left .box{
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid rgb(53, 53, 53);
    position: relative;
    left: 115px;
    bottom: 135px;
    gap: 10px;
    width: 250px ;
    padding: 10px;
    border-radius: 10px;
}
.section3 .left .box img{
    height: 80px;
}
.section3 .left .box .downloading img{
    height: 50px;
}
.section3 .right, .section5 .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 40vw;
}
.section3 .right .firstline, .section5 .right .firstline{
    font-size: 50px;
    font-weight: 800;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.section3 .right .secondline, .section5 .right .secondline{
    font-size: 25px;
    font-weight: 400;
}
.section3 .left img, .section5 .left img{
    height: 380px;
}
.section4 .right .image img{
    height: 380px;
    position: relative;
    z-index: 10;
}
.section4 .right video{
    position: absolute;
    height: 200px;
    right: 16em;
    top: 117em;
    width: 20em;
}
.section5{
    gap: 20px;
}
.section5 .right{
    max-width: 38vw;
}
.section6{
    background-color: black;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.section6 .heading{
    font-weight: 800;
    font-size: 50px;
}
.section6 .questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section6 .question{
    background-color: var(--secondarycolor);
    width: 72vw;
    margin: auto;
    padding: 22px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.section6 .question:hover{
    background-color: rgba(65, 65, 65, 1);
}

.section6 .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.section6 .email .firstline{
    font-size: 20px;
    font-weight: 500;
}
.section6 .email .getstarted{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
    color: rgb(201, 201, 201);
}
.footer .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 56px;
    /* margin: auto; */
}
.footer .link .links{
    gap: 15px 120px;
    font-weight: 400; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
}
.footer span{
    font-weight: 400;   
    top: -30px;
    position: relative;
    left: 160px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a:link , .footer span a, .footer span{
    color: rgb(201, 201, 201);
}
.footer .lang{
    width: 100px;
    position: relative;
    top: 25px;
    left: 160px;
}
.footer .origin{
    position: relative;
    top: 50px;
    font-weight: 400;
    font-size: 14.5px;
}


.section6 .questions .answer1{
    background-color: aqua;
    animation: answer 3 timing-function 1 1 direction fill-mode;
}

@keyframes answer {
    from{
        background-color: aqua;
        height: 0%;
    }
    to{
        height: 50vw;
    }
}
@media screen and (max-width:820px) {
    .main, .box{
        max-height: 80vh;
    }
    .main .content{
        max-height: 80vh;
    }
    nav{
        max-height: 2rem;
    }
    .main .logo img{
        max-height: 2rem;
    }
    /* .main .content .getstarted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .main .content .firstline, .section2 .left .firstline{
        font-size: 2rem;
    }
    .main .content .secondline, .section2 .left .secondline{
        font-size: 1rem;
    }
    .main .content .thirdline{
        font-size: 1rem;
    }
    .main .getstarted input{
        height: 1rem;
        width: 2rem;
    }
    .main .getstarted button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 10rem;
        font-size: small;
    }
    body{
        
    }
    .section2{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }
    .section2 .left{
        max-width: 90%;
        text-align: center;
    }
    .section2 .right .image img{
        width: 555px;
    }
    .section2 .right .image video{
        width: 400px;
        top: 42rem;
        left: 13rem;
    }
    .section3{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }
    .section3{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }    .section3{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }    .section3{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }    .section3{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap: 0px;
    }
} 
