:root{
    --primarycolor: rgb(229, 9, 20);
    --secondarycolor: rgb(41, 41, 41);
}
*{
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
    
}
body{
    background-color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.main{
    background-image: url(assets/Netflix-Background.jpg);
    height: 110vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    /* background-size: 100vw; */
    
    
}
.main .box{
    height: 110vh;
    width: 100%;
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0%;
    background-size: max(1200px,100vw);
}
nav{
    display: flex;
    padding: 22px;
    max-width: 76vw;
    margin: auto;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.main .logo img{
    height: 40px;
}
.main .right{
    gap: 20px;
    display: flex;
}

.main .right .SignIn{
    background-color: var(--primarycolor);
    padding: 0.25rem 1rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    border: none;
}
.right .lang select{
    /* padding: 0.25rem 1rem; */
    min-height: 2rem;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    font: inherit;
    border: transparent;
    color: white;
}
.right .lang{
    border-radius: 5px;
    border: .5px solid grey;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    height: 10px;
    font-weight: 600;
    font-size: large;
}
.main .content{
    position: relative;
    /* z-index: 15; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 620px;
    gap: 20px;
}
.main .content .firstline{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 50px;
    font-weight: 750;
}
.main .content .secondline{
    font-size: 25px;
    font-weight: 400;
}
.main .content .thirdline{
    font-size: 20px;
    font-weight: 500;
}
.main .content .getstarted{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.getstarted button{
    background-color: var(--primarycolor);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.getstarted input{
    background-color: var(--secondarycolor);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    opacity: .6;

}
.section2{
    background-color: black;
    height: 80vh;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section2 .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 35vw;
}
.section2 .left .firstline{
    font-size: 50px;
    font-weight: 900;
}
.section2 .left .secondline{
    font-size: 25px;
    font-weight: 400;
}
.section2 .right .image img{
    height: 380px;
    background: url("assets/section2.m4v");
}
.section2 .right{
    /* height: 60vh;
    max-width: 40vw; */
    /* background-color: aqua; */
    background: url("assets/section2.m4v");
}
.section2 .right .video{
    position: absolute;
    /* top: 50px; */
    bottom: 50px;
    right: 250px;

}
.section2 .right .video video{
    height: 200px;
}

.section3{
    background-color: black;
    height: 80vh;
    width: auto;
}
.section4{
    background-color: black;
    height: 80vh;
    width: auto;
}