:root{
    --primarycolor: rgb(229, 9, 20);
}
*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(assets/Netflix-Background.jpg);
    height: 110vh;
    width: 100%;
    position: relative;
    background-position: center center;
}
.main .box{
    height: 110vh;
    width: 100%;
    opacity: .5;
    background-color: black;
    position: absolute;
    top: 0%;
}
nav{
    display: flex;
    padding: 20px;
    max-width: 78vw;
    margin: auto;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.main .logo img{
    height: 40px;
}
.main .right{
    gap: 20px;
    display: flex;
}
.main .right .language{
    padding: 0.25rem 1rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background: none;
}
.main .right .SignIn{
    background-color: var(--primarycolor);
    padding: 0.25rem 1rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 5px;
    color: white;
    border: none;
}